
  
  <app-header></app-header>
  <div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms </h2>
                    <div>
                      <span
                      class="clickable"
                      (click)="filterdata('')"
                       [ngClass]="{'active': selectedType === ''}">
                      All>
                      </span>
                      <span 
                        (click)="filterdata('room')" 
                        class="clickable" 
                        [ngClass]="{'active': selectedType === 'room'}">Rooms></span>
                      <span 
                        (click)="filterdata('hall')" 
                        class="clickable" 
                        [ngClass]="{'active': selectedType === 'hall'}">Halls</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
  <section class="rooms-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let room of roomList; let i = index">
          <div class="room-item">
            <!-- استخدام صور ثابتة من assets/img/room/room-1.jpg إلى room-6.jpg -->
            <img [src]="'assets/img/room/room-' + (i + 1) + '.jpg'" alt="{{ room.title }}" />  
            <div class="ri-text">
              <h4>{{ room.title }}</h4>
  
              <table>
                <tbody>
                  <tr>
                    <td class="r-o">Type:</td>
                    <td>{{ room.roomType }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Floor:</td>
                    <td>{{ room.floor }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Building:</td>
                    <td>{{ room.building }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Amount:</td>
                    <td>{{ room.paymentAmount }} $</td>
                  </tr>
                  <tr>
                    <td class="r-o">Details:</td>
                    <td>{{ room.details }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Status:</td>
                    <td>
                      <span [ngClass]="{ 'booked': room.bookedStatus, 'available': !room.bookedStatus }"
                      [ngStyle]="{ 'color': room.bookedStatus ? 'red' : 'green' }"
                      style="font-weight: bold;">
                        {{ room.bookedStatus ? 'Booked' : 'Available' }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
  
              <a [routerLink]="['/customer/room', room.id]" [queryParams]="{ img: i + 1 }" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <app-footer></app-footer>