
  .clickable {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;

  }
  
  .active {
    color: black; /* تغيير اللون إلى الأسود */
    font-weight: bolder; /* تغيير الوزن إذا أردت */

  }
  