<div class="signup-form-container">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="signup-form">
    <h2>Create a New Account</h2>
    <p>Fill in your information below to sign up</p>

    <label for="name">Full Name</label>
    <input id="name" type="text" formControlName="name" placeholder="Enter your name" />

    <label for="phone">Phone Number</label>
    <input id="phone" type="text" formControlName="phone" placeholder="+962700000000" />

    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address" placeholder="City, Country" />

    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" placeholder="example@email.com" />

    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" placeholder="Enter a strong password" />


    <div class="terms">
      <label for="acceptTerms">
        <input
          id="acceptTerms"
          type="checkbox"
          formControlName="acceptTerms"
        />
        I agree to the 
        <!-- <a [routerLink]="['/policy']">Terms and Conditions</a> -->
        <a href="javascript:void(0);" (click)="openPolicyModal()">Terms and Conditions</a>

      </label>
    </div>
    

    <div *ngIf="registerForm.get('acceptTerms')?.touched && registerForm.get('acceptTerms')?.invalid" class="error">
      You must accept the terms and conditions.
    </div>


    <button type="submit" [disabled]="!registerForm.valid">Sign Up</button>
    <button type="button" [routerLink]="['/login']">Already have an account? Login</button>
  </form>
</div>
