<h2>إنشاء حساب جديد</h2>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <label>
    الاسم:
    <input type="text" formControlName="name" />
  </label>

  <label>
    رقم الهاتف:
    <input type="text" formControlName="phone" />
  </label>

  <label>
    العنوان:
    <input type="text" formControlName="address" />
  </label>

  <label>
    البريد الإلكتروني:
    <input type="email" formControlName="email" />
  </label>

  <label>
    كلمة المرور:
    <input type="password" formControlName="password" />
  </label>

  <button type="submit" [disabled]="!registerForm.valid">تسجيل</button>
</form>
