
/* الـ Sidebar */
.sidebar {
  width: 220px;
  background: none;
  padding: 15px;
  border-right: 1px solid #ddd;
}

.main {
  flex: 1;
  padding: 30px 40px; /* توسعة البادينغ قليلا */
}
.disabled-input {
  background-color: #f1f1f1;
  color: #666;
  cursor: not-allowed;
}

/* العناوين */
h2 {
  margin-bottom: 25px;
  color: #333;
  font-size: 26px;
  font-weight: bold;
}

/* الـ Form */
.profile-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin-left: 20%;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #444;
}

input[type="text"],
textarea,
select {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* أزرار الفورم */
.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  margin-right: 10px;
}

.submit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* تنسيقات التنبيهات */
.success-alert,
.error-alert {
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 6px;
  font-size: 15px;
}

.success-alert {
  background: #e8f5e9;
  color: #2e7d32;
}

.error-alert {
  background: #ffebee;
  color: #c62828;
}

.formbold-btn {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #fff;
  padding: 1rem 2.5rem;
  font-size: 1.05rem;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  width: 50%;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(102, 126, 234, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-left: 28%;
}

.formbold-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(102, 126, 234, 0.4);
}


/* Responsive Layout */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main {
    margin-left: 0;
    padding: 20px;
  }
  .container-d {
    flex-direction: column;
    padding: 10px;
  }
}
