

<div class="charts-section">
   
    <div class="chart-container">
      <h3>Request Status</h3>
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType">
      </canvas>
    </div>
  
   
    <div class="chart-container">
      <h3>Request Distribution</h3>
      <canvas baseChart
              [data]="doughnutChartData"
              [options]="doughnutChartOptions"
              [type]="doughnutChartType">
      </canvas>
    </div>
    <div class="table-container">
      <h3>📊 Request Summary</h3>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Pending</td>    <td>{{ pendingCount }}</td></tr>
          <tr><td>In Progress</td><td>{{ inProgresCount }}</td></tr>
          <tr><td>Completed</td>  <td>{{ completedCount }}</td></tr>
        </tbody>
      </table>
    </div>
    
  </div>
  
 
  