<h2 class="section-title">Room Service Request</h2>
<div class="contianer">   
<form [formGroup]="requestForm" (ngSubmit)="submitRequest()" class="request-form">
  <label>
    Service Type:
    <select formControlName="requestType">
      <option value="" disabled>-- Select Service Type --</option>
      <option *ngFor="let type of requestTypes" [value]="type">
        {{ type }}
      </option>
    </select>
  </label>

  <label>
    Notes (optional):
    <textarea formControlName="note" placeholder="Write your notes here..."></textarea>
  </label>

  <button type="submit" [disabled]="!requestForm.valid" class="site-btn">Submit Request</button>
</form>
</div>
