<div class="top-bar">
    <button class="back-btn" routerLink="/admin/dashboard">🏠 Dashboard</button>
  </div>
<h2>➕ Add Room / Hall</h2>
<form (ngSubmit)="addRoom()">
  <label>Title:</label>
  <input type="text" [(ngModel)]="newRoom.title" name="title" required>

  <label>Type:</label>
  <select [(ngModel)]="newRoom.roomType" name="roomType">
    <option value="room">Room</option>
    <option value="hall">Hall</option>
  </select>

  <label>Floor:</label>
  <input type="text" [(ngModel)]="newRoom.floor" name="floor" required>

  <label>Building:</label>
  <input type="text" [(ngModel)]="newRoom.building" name="building" required>

  <label>Details:</label>
  <textarea [(ngModel)]="newRoom.details" name="details"></textarea>
   <label>
    <input type="checkbox" name="booked" [(ngModel)]="newRoom.booked">
    Booked?
  </label>

  <button type="submit">➕ Add</button>
</form>
