<div class="reservations-container">
  <h2>My Reservations</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Room/Hall</th>
      <th>Date</th>
      <th>Status</th>
      <th>Payment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let res of myReservations">
      <td>{{ res.date }}</td>
      <td>
        <span [ngClass]="res.approvalStatus">{{ res.approvalStatus }}</span>
      </td>
      <td>{{ res.paymentStatus }}</td>
    </tr>
    <!-- <a [routerLink]="['/customer', customer.id]">عرض البروفايل</a> -->

  </tbody>
</table>
