.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #19191a;
}
.site-btn {
  background-color:#dfa974;
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  color: #fff;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.site-btn[disabled]
{
  background-color: #f5f5f7;
  color: #5c5a5a;
} 
.table {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);

  th {
    background-color: #dfa974;
    color: white;
  }

  td, th {
    vertical-align: middle;
    font-size: 14px;
  }

  span {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 500;
    color: white;

    &.approved {
      background-color: #28a745;
    }

    &.pending {
      background-color: #ffc107;
    }

    &.rejected {
      background-color: #dc3545;
    }
  }
}
