

  .booking-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 110%;
    margin: auto;
    font-family: 'Segoe UI', sans-serif;
  }

  .booking-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
  }

  .booking-form input,
  .booking-form select {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s ease;
  }

  .booking-form input:focus,
  .booking-form select:focus {
    border-color: #dfa974;
    outline: none;
    box-shadow: 0 0 5px #dfa974;
  }

  /* Date Picker Icon Styling (Chrome/Edge) */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(22%) sepia(84%) saturate(510%) hue-rotate(15deg) brightness(95%) contrast(108%);
    cursor: pointer;
  }

  .booking-form button {
    background-color: #dfa974;
    color: white;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .booking-form button:hover {
    background-color: #dfa974;
  }

  .booking-form h2 {
    text-align: center;
    color: #dfa974;
    margin-bottom: 10px;
  }
 

  .booking-form p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
  }
