<div class="sidebar" [class.active]="isSidebarOpen">
  <div class="sidebar-header">
    <h3><i class="fas fa-concierge-bell"></i> Employee Menu</h3>
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/employee/dashboard" routerLinkActive="active">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/employee/profile" routerLinkActive="active">
        <i class="fas fa-user"></i> View Profile
      </a>
    </li>
    <li>
      <a routerLink="employee/my-requests" routerLinkActive="active">
        <i class="fas fa-list"></i> My Requests
      </a>
    </li>
  </ul>
  <button [routerLink]="'/auth/login'">login user</button>
</div>