@use 'sass:color';


$primary-color: #dfa974;
$background-color: #f2f2f2; // أخف من الأبيض
$text-color: #19191a;
$border-color: #ebebeb;


.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  .avatar-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid $primary-color;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .avatar-placeholder {
    width: 120px;
    height: 120px;
    font-size: 60px;
    background-color: color.adjust($primary-color, $lightness: 35%);
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid $primary-color;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
}

.profile-details {
  background-color: $background-color;
  padding: 30px;
  max-width: 600px;
  border: 1px solid $border-color;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  color: $text-color;
  font-size: 16px;

  p {
    margin-bottom: 15px;

    strong {
      color: $primary-color;
      font-weight: 600;
    }
  }

  .site-btn {
    background-color: $primary-color;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);

    }
  }
}

.contact-form {
  background-color: $background-color;
  padding: 30px;
  max-width: 600px;
  border: 1px solid $border-color;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.03);

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 8px;
      color: $text-color;
    }

    input {
      width: 100%;
      padding: 12px 18px;
      border: 1px solid $border-color;
      border-radius: 8px;
      font-size: 15px;
      transition: all 0.2s ease;
      color: black;


      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 6px rgba($primary-color, 0.4);
        outline: none;
      }
    }
  }

  .site-btn {
    background-color: $primary-color;
    padding: 10px 30px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);

    }
  }
}

.alert {
  border-radius: 8px;
  font-size: 14px;
  padding: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.custom-btn {
  background-color: #dfa974;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust(#dfa974, $lightness: -10%);
  }
}
