<div class="page-container">
  
  <div class="sidebar">
    <app-main-layout></app-main-layout>
 </div>

  <div class="main-content">
    <app-header-dash [pageTitle]="'All Reservations'"></app-header-dash>
    <!-- <h2>📋 All Reservations</h2> -->

    <!-- <div class="card-grid" *ngIf="appointments.length > 0">
      <div class="reservation-card" *ngFor="let a of appointments">
        <p><strong>🆔 ID:</strong> {{ a.id }}</p>
        <p><strong>📅 Date:</strong> {{ a.date | date: 'medium' }}</p>
        <p><strong>👤 Customer :</strong> {{ a.customer?.name }}</p>
        <p><strong>💰 Amount:</strong> {{ a.paymentAmount }}</p>
        <p><strong>✅ Status:</strong> {{ a.approvalStatus }}</p>
        <p>
          <strong>💳 Payment:</strong> 
          <span [class.paid]="a.paymentStatus" [class.unpaid]="!a.paymentStatus">
            {{ a.paymentStatus ? 'Paid' : 'Unpaid' }}
          </span>
        </p>

        <div class="actions" *ngIf="a.approvalStatus === 'pending'">
          <button class="approve-btn" (click)="approveReservation(a.id)">✅ Approve</button>
          <button class="reject-btn" (click)="rejectReservation(a.id)">❌ Reject</button>
        </div>
      </div>
    </div>
 -->




 <div class="card-grid" *ngIf="appointments.length > 0">
  <div class="reservation-card" *ngFor="let a of pagedAppointments">
    <p><strong>🆔 ID:</strong> {{ a.id }}</p>
    <p><strong>📅 Date:</strong> {{ a.date | date: 'medium' }}</p>
    <p><strong>👤 Customer :</strong> {{ a.customer?.name }}</p>
    <p><strong>💰 Amount:</strong> {{ a.paymentAmount }}</p>
    <p><strong>✅ Status:</strong> {{ a.approvalStatus }}</p>
    <p>
      <strong>💳 Payment:</strong> 
      <span [class.paid]="a.paymentStatus" [class.unpaid]="!a.paymentStatus">
        {{ a.paymentStatus ? 'Paid' : 'Unpaid' }}
      </span>
    </p>

    <div class="actions" *ngIf="a.approvalStatus === 'pending'">
      <button class="approve-btn" (click)="approveReservation(a.id)">✅ Approve</button>
      <button class="reject-btn" (click)="rejectReservation(a.id)">❌ Reject</button>
    </div>
  </div>
</div>

<!-- ✅ أضف هذا في الأسفل -->
<mat-paginator
  [length]="appointments.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[3, 6, 9]"
  showFirstLastButtons
  (page)="onPageChange($event)">
</mat-paginator>
