<div class="layout-container">
  <ng-container *ngIf="currentUser as user">
    <aside *ngIf="user.userType === 'admin'" class="sidebar">
      <div class="logo">
        <img src="assets/img/logo2.png" alt="Casa Hotel Logo" />
      </div>
      <nav>
        <a routerLink="/admin/dashboard" routerLinkActive="active">Home</a>
        <a routerLink="/admin/add-room" routerLinkActive="active">Add Room</a>
        <a routerLink="/admin/rooms" routerLinkActive="active">Room List</a>
        <a routerLink="/admin/add-employee" routerLinkActive="active">Add Employee</a>
        <a routerLink="/admin/employees" routerLinkActive="active">Employee List</a>
        <a routerLink="/admin/custmouer-list" routerLinkActive="active">Customer List</a>
        <a routerLink="/admin/reservations-review" routerLinkActive="active">Reservation Review</a>
      </nav>
    </aside>

    <aside *ngIf="user.userType === 'employee'" class="sidebar">
      <div class="logo">
        <img src="assets/img/logo2.png" alt="Casa Hotel Logo" />
      </div>
      <nav>
        <a routerLink="/employee/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/employee/profile" routerLinkActive="active">View Profile</a>
        <a routerLink="/employee/my-requests" routerLinkActive="active">My Requests</a>
      </nav>
    </aside>
  </ng-container>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
