@use "sass:color";

.login-form-container {
  max-width: 400px;
  margin: 80px auto;
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;

  h2 {
    text-align: center;
    color: #dfa974;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
  }

  input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s ease;

    &:focus {
      border-color: #dfa974;
      outline: none;
      box-shadow: 0 0 5px #dfa974;
    }
  }

  button {
    background-color: #dfa974;
    color: white;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;

    &:hover {
      background-color: color.adjust(#dfa974, $lightness: -5%);
    }

    &.secondary-btn {
      background-color: #f2f2f2;
      color: #444;
      margin-top: 10px;

      &:hover {
        background-color: #e0e0e0;
      }
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
/* حاوية الشروط */
.terms {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #444;
  line-height: 1.4;
  
  label {
    display: flex;
    align-items: center;
    gap: 4px; /* مسافة صغيرة جدا بين التشيك بوكس والنص */
    cursor: pointer; /* عشان لما تكبس عالنص كمان يفعل */
  }

  input[type="checkbox"] {
    margin: 0; /* مافي مسافة زيادة حوالين التشيك */
    width: 18px;
    height: 18px;
  }

  a {
    color: #007bff;
    text-decoration: underline;
  }

  a:hover {
    color: #0056b3;
  }
}

/* رسالة الخطأ */
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.divider {
  position: relative;
  text-align: center;
  margin: 1.5rem 0;
  font-weight: 500;
  color: #666;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.signup-link {
  text-align: center;
  font-size: 0.95rem;
  color: #555;

  p {
    margin-top: 1rem;
  }

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }
}
