<div class="login-form-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <h2>Welcome Back 👋</h2>
    <p>Please sign in to continue</p>

    <label for="email">Email Address:</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="you@example.com"
    />

    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    />

    <div class="terms">
      <label for="acceptTerms">
        <input
          id="acceptTerms"
          type="checkbox"
          formControlName="acceptTerms"
        />
        I agree to the 
        <!-- <a [routerLink]="['/policy']">Terms and Conditions</a> -->
        <a href="javascript:void(0);" (click)="openPolicyModal()">Terms and Conditions</a>

      </label>
    </div>
    

    <div *ngIf="loginForm.get('acceptTerms')?.touched && loginForm.get('acceptTerms')?.invalid" class="error">
      You must accept the terms and conditions.
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>

    <button
      type="button"
      class="secondary-btn"
      [routerLink]="['/signup']"
    >
      Create Account
    </button>
  </form>
</div>
