<footer class="footer-section" style="border-top: 1px solid #fff;">
    <div class="container">
        <div class="footer-text">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="ft-about text-center text-lg-start">
                        <div class="logo mb-3">
                            <a href="#">
                                <img src="assets/img/logo2.png" alt="Casa Serene Hotel Logo">
                            </a>
                        </div>
                        <p class="mb-3">{{ 'footer.about_description' | translate }}</p>
                        <div class="fa-social d-flex justify-content-center justify-content-lg-start gap-2">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1 mt-5">
                    <div class="ft-contact">
                        <h6 class="mb-3">{{ 'footer.contact_us' | translate }}</h6>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone me-2" style="padding: 8px"></i>{{ 'footer.phone' | translate }}</li>
                            <li><i class="fa fa-envelope me-2" style="padding: 8px"></i>{{ 'footer.email' | translate }}</li>
                            <li><i class="fa fa-map-marker me-2" style="padding: 8px"></i>{{ 'footer.address' | translate }}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1 mt-5">
                    <div class="ft-newslatter">
                        <h6 class="mb-3">Developed by</h6>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-user me-2" style="padding: 8px"></i>Yousef Shatnawi</li>
                            <li><i class="fa fa-user me-2" style="padding: 8px"></i>Duaa Mehdawi</li>
                            <li><i class="fa fa-user me-2" style="padding: 8px"></i>Reema Bshara</li>
                            <li><i class="fa fa-user me-2" style="padding: 8px"></i>Anagheem Al-Rabaa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-option mt-4 py-3 border-top">
        <div class="container">
            <div class="row align-items-center gy-2">
                <div class="col-lg-7">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a routerLink="/contact-us">{{ 'footer.contact_link' | translate }}</a></li>
                        <li class="list-inline-item"><a routerLink="/about-us">{{ 'footer.about_link' | translate }}</a></li>
                        <li class="list-inline-item"><a routerLink="/room">{{ 'footer.room_link' | translate }}</a></li>
                        <li class="list-inline-item"><a (click)="openModal()">{{ 'footer.environmental_policy_link' | translate }}</a></li>
                    </ul>

                    <div class="modal fade" id="environmentalPolicyModal" tabindex="-1" aria-labelledby="environmentalPolicyModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="environmentalPolicyModalLabel">{{ 'footer.environmental_policy_title' | translate }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ 'footer.environmental_policy_content' | translate }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'footer.close' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5 text-lg-end text-center">
                    <div class="co-text">
                        <p class="mb-0">
                            &copy;<script>document.write(new Date().getFullYear());</script> {{ 'footer.copyright' | translate }}
                            <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
