
    <!-- Footer Section Begin -->
    <!-- <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="assets/img/logo2.png" alt="">
                                </a>
                            </div>
                            <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>+962799959225</li>
                                <li>contactus&#64;CASAHOTEL.com</li>
                                <li>Wasfi altall .st, Amman, Jordan</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Environmental Policy</a></li>
                        </ul>
                    </div> -->
                    <!-- <div class="col-lg-5"> -->
                        <!-- <div class="co-text"><p>Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.</p></div> -->
                    <!-- </div>
                </div>
            </div>
        </div>
    </footer> -->
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <!-- <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div> -->


    <!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="footer-text">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="ft-about text-center text-lg-start">
                        <div class="logo mb-3">
                            <a href="#">
                                <img src="assets/img/logo2.png" alt="Casa Serene Hotel Logo">
                            </a>
                        </div>
                        <p class="mb-3">We inspire and reach millions of travelers<br> across 90 local websites</p>
                        <div class="fa-social d-flex justify-content-center justify-content-lg-start gap-2">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1" style="margin: 43px;">
                    <div class="ft-contact">
                        <h6 class="mb-3">Contact Us</h6>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone me-2" style="padding: 8px"></i>+962799959225</li>
                            <li><i class="fa fa-envelope me-2" style="padding: 8px"></i>contactus&#64;CASAHOTEL.com</li>
                            <li><i class="fa fa-map-marker me-2" style="padding: 8px"></i>Wasfi altall St, Amman, Jordan</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1" style="margin: 43px;">
                    <div class="ft-newslatter">
                        <h6 class="mb-3">Newsletter</h6>
                        <p>Get the latest updates and offers.</p>
                        <form action="#" class="fn-form d-flex">
                            <input type="text" placeholder="Email" class="form-control me-2">
                            <button type="submit" class="btn btn-outline-light"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-option mt-4 py-3 border-top">
        <div class="container">
            <div class="row align-items-center gy-2">
                <div class="col-lg-7">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a routerLink="/contact-us">Contact</a></li>
                        <li class="list-inline-item"><a routerLink="/about-us">About</a></li>
                        <li class="list-inline-item"><a routerLink="/room">Room</a></li>
                        <!-- <li class="list-inline-item"><a href="#">Galllary</a></li> -->
                        <!-- <li class="list-inline-item"><a routerLink="/policy">Environmental Policy</a></li> -->
                        <li class="list-inline-item"><a (click)="openModal()">Environmental Policy</a></li>

                        <!-- Modal -->
                        <div class="modal fade" id="environmentalPolicyModal" tabindex="-1" aria-labelledby="environmentalPolicyModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="environmentalPolicyModalLabel">Environmental Policy</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <!-- محتوى الـ Modal الخاص بـ Environmental Policy -->
                                <p>Here you can place the details of your Environmental Policy.</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>

                    </ul>
                </div>
                <div class="col-lg-5 text-lg-end text-center">
                    <div class="co-text">
                        <p class="mb-0">
                            &copy;<script>document.write(new Date().getFullYear());

                            </script> All rights reserved | Made with 
                            <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
