<!-- <header class="header-section">
  <div class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <ul class="tn-left">
            <li class="menu-container position-relative">
              <button class="hamburger" (click)="toggleMenu()">☰</button>
              <ul class="dropdown-menu-custom" *ngIf="menuOpen">
                <li class="dropdown-item" (click)="openLoginDialog()">
                  🔐 {{ 'LOGIN' | translate }}
                </li>
                <li class="dropdown-item" (click)="toggleDarkTheme()">
                  {{ !isDarkTheme ? ('DARK_THEME' | translate) : ('LIGHT_THEME' | translate) }}
                </li>
              </ul>
            </li>
            <li><i class="fa fa-phone"></i> +962799959225</li>
            <li><i class="fa fa-envelope"></i> Contactus&#64;CASAHOTEL.com</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <div class="tn-right d-flex justify-content-end align-items-center gap-3">
            <div class="language-option position-relative">
              <img src="assets/img/flag.jpg" alt="Flag" width="24" height="16">
              <span (click)="toggleLanguageMenu()">EN <i class="fa fa-angle-down"></i></span>
              <div class="flag-dropdown" *ngIf="languageMenuOpen">
                <ul>
                  <li><a (click)="changeLanguage('en')">🇬🇧 English</a></li>
                  <li><a (click)="changeLanguage('it')">🇮🇹 Italiano</a></li>
                  <li><a (click)="changeLanguage('ar')">🇸🇦 Arabic</a></li>
                </ul>
              </div>
            </div>

            <div class="top-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-tripadvisor"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>

            <a *ngIf="isLoggedIn" routerLink="/customer/profile" class="bk-btn">{{ 'MY_PROFILE' | translate }}</a>
            <a *ngIf="isLoggedIn" (click)="logout()" class="fa fa-sign-out logout-icon" title="{{ 'LOGOUT' | translate }}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="logo">
            <a routerLink="/home">
              <img src="assets/img/logo2.png" alt="Casa Hotel Logo">
            </a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="nav-menu">
            <nav class="mainmenu active">
              <ul>
                <li><a routerLink="/home" routerLinkActive="active">{{ 'NAV_HOME' | translate }}</a></li>
                <li><a routerLink="/room" routerLinkActive="active">{{ 'NAV_ROOMS' | translate }}</a></li>
                <li><a routerLink="/about-us" routerLinkActive="active">{{ 'NAV_ABOUT_US' | translate }}</a></li>
                <li *ngIf="showMyRequest"><a (click)="reqestService()" routerLinkActive="active">{{ 'NAV_MY_REQUEST' | translate }}</a></li>
                <li *ngIf="showMyRequest"><a routerLink="/customer/my-reservations" routerLinkActive="active">{{ 'NAV_RESERVATIONS' | translate }}</a></li>
                <li><a routerLink="/contact-us" routerLinkActive="active">{{ 'NAV_CONTACT_US' | translate }}</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> -->



<header class="header-section">
  <div class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <ul class="tn-left">
            <li><i class="fa fa-phone"></i> +962799959225</li>
            <li><i class="fa fa-envelope"></i> Contactus&#64;CASAHOTEL.com</li>
          </ul>
        </div>

        <div class="col-lg-6">
          <div class="tn-right d-flex justify-content-end align-items-center gap-3">

            <!-- Social Icons -->
            <div class="top-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-tripadvisor"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>

            <!-- 🌐 Language Selector -->
            <div class="language-option position-relative">
              <img src="assets/img/flag.jpg" alt="Flag" width="24" height="16">
              <span (click)="toggleLanguageMenu()">EN <i class="fa fa-angle-down"></i></span>
              <div class="flag-dropdown" *ngIf="languageMenuOpen">
                <ul>
                  <li><a (click)="changeLanguage('en')">🇬🇧 English</a></li>
                  <li><a (click)="changeLanguage('it')">🇮🇹 Italiano</a></li>
                  <li><a (click)="changeLanguage('ar')">🇸🇦 Arabic</a></li>
                </ul>
              </div>
            </div>

            <div class="user-controls">
              <!-- زر تسجيل الدخول -->
              <button *ngIf="!isLoggedIn" class="icon-btn" (click)="openLoginDialog()" title="{{ 'LOGIN' | translate }}">
                <i class="fa fa-door-open"></i>
              </button>
            
              <!-- زر البروفايل -->
              <a *ngIf="isLoggedIn" routerLink="/customer/profile" class="icon-btn" title="{{ 'MY_PROFILE' | translate }}">
                <i class="fa fa-user-circle"></i>
              </a>
            
              <!-- الوضع الليلي/النهاري -->
              <button class="icon-btn" (click)="toggleDarkTheme()" title="{{ isDarkTheme ? ('LIGHT_THEME' | translate) : ('DARK_THEME' | translate) }}">
                <i class="fa" [ngClass]="isDarkTheme ? 'fa-sun' : 'fa-moon'"></i>
              </button>
            
              <!-- زر تسجيل الخروج -->
              <button *ngIf="isLoggedIn" (click)="logout()" class="icon-btn" title="{{ 'LOGOUT' | translate }}">
                <i class="fa fa-sign-out"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-item">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="logo">
            <a routerLink="/home">
              <img src="assets/img/logo2.png" alt="Casa Hotel Logo" />
            </a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="nav-menu">
            <nav class="mainmenu active">
              <ul>
                <li><a routerLink="/home" routerLinkActive="active">{{ 'NAV_HOME' | translate }}</a></li>
                <li><a routerLink="/room" routerLinkActive="active">{{ 'NAV_ROOMS' | translate }}</a></li>
                <li><a routerLink="/about-us" routerLinkActive="active">{{ 'NAV_ABOUT_US' | translate }}</a></li>
                <li *ngIf="showMyRequest"><a (click)="reqestService()" routerLinkActive="active">{{ 'NAV_MY_REQUEST' | translate }}</a></li>
                <li *ngIf="showMyRequest"><a routerLink="/customer/my-reservations" routerLinkActive="active">{{ 'NAV_RESERVATIONS' | translate }}</a></li>
                <li><a routerLink="/contact-us" routerLinkActive="active">{{ 'NAV_CONTACT_US' | translate }}</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
