@use 'sass:color';

.bk-btn {
    display: inline-block;
    background-color: #dfa974; // أو اللون اللي عندك
    color: #fff;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  
    &:hover {
        background-color: color.scale(#dfa974, $lightness: -45.13%);
        text-decoration: none;
    }
  }
  
//   .nav-menu {
//     display: flex;
//     margin-right: 0;
//     padding-right: 0;
//   }
  
//   .mainmenu ul {
//     display: flex;
//     justify-content: flex-end; // يدفع الناف الى أقصى اليمين
//     gap: 3px; // مسافة بين الروابط
//     list-style: none;
//     padding: px;
//     margin: 0;
//   }
  
//   .mainmenu ul li a {
//     color: #a37809; // أو أي لون نص بدك اياه
//     text-decoration: none;
//     font-weight: 500;
//     padding: 1px 5px;
//     transition: color 0.3s ease;
  
//     &:hover {
//       color: #dfa974; // لون عند التحويم
//     }
//   }
  