@use 'sass:color';

.bk-btn {
    display: inline-block;
    background-color: #dfa974; // أو اللون اللي عندك
    color: #fff;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  
    &:hover {
        background-color: color.scale(#dfa974, $lightness: -45.13%);
        text-decoration: none;
    }
  }
  