

<div *ngIf="loading" class="spinner-container">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
</div>
<div *ngIf="!loading">
    <app-header></app-header>
    
    <section class="hero-section">
        <div class="container no-dark">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text">
                        <h1> Casa Serene</h1>
                        <h1> {{ 'home.hero.title' | translate }} </h1>
                        <p>{{ 'home.hero.description' | translate }}</p>
                        <a routerLink="/about-us" class="primary-btn">{{ 'home.hero.button' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider" [style.backgroundImage]="'url(' + heroImages[currentHeroIndex] + ')'"></div>
    </section>
    
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>{{ 'home.about.subtitle' | translate }}</span>
                            <h2>{{ 'home.about.title' | translate }}</h2>
                        </div>
                        <p class="f-para">{{ 'home.about.description1' | translate }}</p>
                        <p class="s-para">{{ 'home.about.description2' | translate }}</p>
                        <a routerLink="/about-us" class="primary-btn about-btn">{{ 'home.about.button' | translate }}</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="assets/img/about/about-1.jpg" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/img/about/about-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="video-section">
        <video #hotelVideo autoplay muted loop playsinline class="w-100" style="height: 500px; object-fit: cover;">
            <source src="assets/img/hoom-video.mp4" type="video/mp4" />
        </video>
    </section>
   
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>{{ 'home.services.subtitle' | translate }}</span>
                        <h2>{{ 'home.services.title' | translate }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>{{ 'home.services.travel_plan.title' | translate }}</h4>
                        <p>{{ 'home.services.travel_plan.description' | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>{{ 'home.services.catering.title' | translate }}</h4>
                        <p>{{ 'home.services.catering.description' | translate }}</p>
                    </div>                    
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-026-bed"></i>
                        <h4>{{ 'home.services.babysitting.title' | translate }}</h4>
                        <p>{{ 'home.services.babysitting.description' | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>{{ 'home.services.laundry.title' | translate }}</h4>
                        <p>{{ 'home.services.laundry.description' | translate }}</p>
                    </div>                    
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>{{ 'home.services.driver.title' | translate }}</h4>
                        <p>{{ 'home.services.driver.description' | translate }}</p>
                    </div>                    
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>{{ 'home.services.bar.title' | translate }}</h4>
                        <p>{{ 'home.services.bar.description' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="hp-room-section" style="margin: 100px;">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-lg-3 col-md-6"*ngFor="let room of room.slice(0,4); let i = index" >
                        <div class="hp-room-item" [ngStyle]="{'background-image': 'url(assets/img/room/room-b' + (i + 1) + '.jpg)' }">
                            <div class="hr-text no-dark">
                                <h3>{{ room.title }}</h3>
                                <h2>{{ room.paymentAmount }}<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Room Type</td>
                                            <td>
                                                {{room.roomType}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Floor:</td>
                                            <td>{{room.floor}}</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                                <a routerLink="/customer/room" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>{{ 'home.blog.subtitle' | translate }}</span>
                        <h2>{{ 'home.blog.title' | translate }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" *ngFor="let blog of blogs.slice(0, 3)">
                    <div class="blog-item" [ngStyle]="{ 'background-image': 'url(' + blog.image + ')' }">
                        <div class="bi-text no-dark">
                            <span class="b-tag">{{ blog.tag }}</span>
                            <h4><a href="#">{{ blog.title }}</a></h4>
                            <div class="b-time">
                                <i class="icon_clock_alt"></i> {{ blog.date }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog-item small-size" [ngStyle]="{ 'background-image': 'url(' + blogs[3].image + ')' }">
                        <div class="bi-text no-dark">
                            <span class="b-tag">{{ blogs[3].tag }}</span>
                            <h4><a href="#">{{ blogs[3].title }}</a></h4>
                            <div class="b-time">
                                <i class="icon_clock_alt"></i> {{ blogs[3].date }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item small-size" [ngStyle]="{ 'background-image': 'url(' + blogs[4].image + ')' }">
                        <div class="bi-text no-dark">
                            <span class="b-tag">{{ blogs[4].tag }}</span>
                            <h4><a href="#">{{ blogs[4].title }}</a></h4>
                            <div class="b-time">
                                <i class="icon_clock_alt"></i> {{ blogs[4].date }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>