.hero-slider {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    transition: background-image 1s ease-in-out;
  }
  
  .img {
    max-width: 27%;
    max-height: 50%;
    border-radius: 100%;
}