.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  color: #19191a;
}
.table-responsive{
  width: 100%;
}

.table {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: 10px 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);

  th {
    background-color: #dfa974;
    color: white;
  }

  td, th {
    vertical-align: middle;
    font-size: 14px;
  }

  
  p {
    padding: 5px 10px;
  border-radius: 20px;
  color: white;
  

    &.pending {
      background-color: #dfa700;
    }

    &.progres {
      background-color: #076aff;
    }

    &.done {
      background-color: #054702d8;
    }
  }
}
