<h3 class="section-title">My Previous Requests</h3>

<div class="table-responsive">
  <table class="table table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th>ID request</th>
        <th>Employee name </th>
        <th>Request Type</th>
        <th>Date</th>
        <th>Note</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of myRequests">
        <td>{{ req.id }}</td>
        <td>{{ req.employee?.name }}</td>
        <td>{{ req.requestType }}</td>
        <td>{{ req.date }}</td>

        <td>{{ req.note }}</td>

        <td>
          <p  id="span-status"
            [ngClass]="{
              'pending': req.requestStatus === 'pending',
              'progres': req.requestStatus === 'progres',
              'done': req.requestStatus === 'done'
            }">
            {{ req.requestStatus }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
