<div class="top-bar">
    <button class="back-btn" routerLink="/admin/dashboard">🏠 Dashboard</button>
  </div>
<h2>📋 قائمة الغرف والقاعات</h2>

<ul *ngIf="rooms.length > 0; ">
  <li *ngFor="let room of rooms">
    🏷️ {{ room.title }} |
    🏢 {{ room.building }} |
    📍 {{ room.floor }} |
    📝 {{ room.details }} |
📌 Status: {{ room.bookedStatus ? 'Booked' : 'Available' }}

    <button 
      [disabled]="room.bookedStatus"
      (click)="bookRoom(room.id)">
      🛎️ حجز
    </button>
  </li>
</ul>


