<div class="page-container">
  <div class="sidebar">
    <app-main-layout></app-main-layout>
  </div>

  <div class="main-content">
     <div class=" aaa">
      <h1>Admin Dashboard</h1>
      <span>
        <button class="logout-btn" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </span>
    </div>

    <h2>📋 Room / Hall List</h2>

    <div class="card-grid" *ngIf="rooms.length > 0">
      <div class="room-card" *ngFor="let room of rooms">
        <h3>🏷️ {{ room.title }}</h3>
        <p><strong>🏢 Building:</strong> {{ room.building }}</p>
        <p><strong>📍 Floor:</strong> {{ room.floor }}</p>
        <p><strong>📝 Amount :</strong> {{ room.paymentAmount }} $</p>
        <p><strong>📝 Details:</strong> {{ room.details }}</p>

        <p><strong>📌 Status:</strong>
          <span [class.booked]="room.bookedStatus" [class.available]="!room.bookedStatus">
            {{ room.bookedStatus ? 'Booked' : 'Available' }}
          </span>
        </p>

        <button 
          [disabled]="room.bookedStatus"
          (click)="bookRoom(room.id)"
          [ngClass]="{ 'booked-btn': room.bookedStatus, 'available-btn': !room.bookedStatus }"
          (click)="bookRoom(room.id)">
          🛎️ Book Room
        </button>

        <button (click)="makeAvailable(room.id)"
        [disabled]="!room.bookedStatus"
        class="action-btn warning"
        [ngClass]="{ 'booked-btn':!room.bookedStatus, 'available-btn': room.bookedStatus }"

        >♻️ Make Available</button>

        <button  
          [disabled]="room.bookedStatus"
          (click)="goToEditRoom(room.id)" 
          class="action-btn edit"
          >
          ✏️ Edit Room
        </button>
      </div>
    </div>
  </div>
</div>
