 <div class="sidebar">
  <h2>📊 Dashboard</h2>
  <nav>
    <a routerLink="/admin/dashboard" routerLinkActive="active">🏠 Home</a>
    <a routerLink="/admin/add-room" routerLinkActive="active">🛏️ Add Room</a>
    <a routerLink="/admin/add-employee" routerLinkActive="active">👨‍💼 Add Employee</a>
    <a routerLink="/admin/custmouer-list" routerLinkActive="active">👥 Customer List</a>
    <a routerLink="/admin/employees" routerLinkActive="active">🧑 Employee List</a>
    <a routerLink="/admin/rooms" routerLinkActive="active">🚪 Room List</a>
    <a routerLink="/admin/reservations-review" routerLinkActive="active">📋 Reservation Review</a>
  </nav>
</div>