<div class="page-container">
  <div class="sidebar">
    <app-main-layout></app-main-layout>
  </div>
  
  <div class="main-content">
    <div class="header d-flex-header">
      <h1>Admin Dashboard</h1>
      <button class="logout-btn" (click)="logout()">🚪 Logout</button>
    </div>
    <h2>👥 Employee List</h2>

    <div class="table-container" *ngIf="employees.length > 0">
      <table>
        <thead>
          <tr>
            <th>#ID</th>
            <th>👤 Name</th>
            <th>💼 Job</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees">
            <td>{{ emp.id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.role }}</td>
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
