<div class="list-container">
  <div class="top-bar">
    <button class="back-btn" routerLink="/admin/dashboard">🏠 Dashboard</button>
  </div>
    <h2>👥 Employee list </h2>
  
    <table class="employee-table" *ngIf="employees.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th> 
          <th>Job</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.role }}</td>
        </tr>
      </tbody>
    </table>
  
   
  </div>
  