<div class="page-container">
  <div class="sidebar">
   <app-sidebar></app-sidebar>
  </div>

  <div class="main-content">
    <h2>👥 Employee List</h2>

    <table class="employee-table" *ngIf="employees.length > 0">
      <thead>
        <tr>
          <th>#ID</th>
          <th>👤 Name</th>
          <th>💼 Job</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.role }}</td>
       
        </tr>
      </tbody>
    </table>
  </div>
</div>
